<div class="container-fluid">
  <div class="test-card">
    <div class="test-card-content">
      <h2>Pick your current habit!</h2>
      <%= @question.content  %>
      <div class="answers-wrapper">
          <% @question.answers.each do |answer|  %>
            <%= render "form", answer: answer %>
          <% end %>
      </div>
      </div>
      <%= render "footer" %>
  </div>
</div>
