<div class="container-question">
  <div class="test-intro">
    <h3><b>Select your current habits</b></h3>
  </div>
  <div class="test-card-top">
    <%= image_tag "#{@question.category}.png"%>
    <h3><strong><%= @question.content  %></strong></h3>
  </div>
  <div class="test-card-bottom">
    <div class="answers-wrapper">
      <% @question.answers.each do |answer|  %>
        <%= render "form", answer: answer %>
      <% end %>
    </div>
  </div>
</div>
