// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #179b60;
$gray: #475354;
$light-gray: #F4F4F4;
$lightgreen: #B0D6C5;
$middlegray: #b9b5b5;
