<div data-controller="progress-bar">

  <div class="card-dashboard">
    <h2 class="score-text">Your Score:</i></h2>
      <h1 class="score-number" data-progress-bar-target="score"><%= @user.total_score %> <i class="fa-solid fa-leaf"></i></h1>

    <div class="stepper-wrapper">
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="0">
        <div class="step-counter">1</div>
        <div class="step-name">0</div>
      </div>
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="200">
        <div class="step-counter">2</div>
        <div class="step-name">200</div>
      </div>
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="400">
        <div class="step-counter">3</div>
        <div class="step-name">400</div>
      </div>
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="600">
        <div class="step-counter">4</div>
        <div class="step-name">600</div>
      </div>
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="800">
        <div class="step-counter">5</div>
        <div class="step-name">800</div>
      </div>
      <div class="stepper-item" data-progress-bar-target="stepper" data-score="1000">
        <div class="step-counter">6</div>
        <div class="step-name">1000</div>
      </div>

    </div>
  </div>
  <hr>
  <% @user_challenges.each do |user_challenge| %>
    <% if user_challenge.active? %>
      <%= render 'challenges/card_nonplus', challenge: user_challenge.challenge %>
    <% end %>
  <% end %>
</div>
