<div class="dashboard_container">
  <div class= "dashboard_container scoreboard">
    <%= render "scoreboard" %>
  </div>
  <div class= "dashboard_container checker">
    <h1 class="my-3">My Challenge Tracker</h1>
    <h1><span class="badge bg-success"><%= Date.current.strftime("%b %d, %Y") %></span></h1>
    <%# <i class="fa-solid fa-square-check fs-4"></i> %>
    <div class="card-product-infos">
      <% @user_challenges.each do |user_challenge| %>
        <%= render "user_challenges/form", user_challenge: user_challenge %>
      <% end %>
    </div>
    <div class="dashboard_container details">
      Info here
    </div>
    <div class="dashboard_container calendar">
      <%= render "calendar" %>
    </div>
  </div>
</div>
