<div class="container">
  <h1>Dashboard</h1>
  <div class="card-dashboard">
    <div class="score-circle">
      <p><%= @user.total_score %></p>
    </div>
    <div>
      <p>Goal score: 1000</p>
    </div>
  </div>
  <% @user.challenges.each do |challenge| %>
    <%= render 'challenges/card', challenge: challenge %>
  <% end %>
  <script src="js/progress-bar.js"></script>
</div>
