<div class="container">
  <h1>Dashboard</h1>
  <div class="card-dashboard">
    <div class="score-circle">
      <p class="score-text">Score</p>
      <p class="score-number"><%= @user.total_score %></p>
    </div>
    <div>
      <p>Goal score: 1000</p>
    </div>
    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">First</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">Second</div>
      </div>
      <div class="stepper-item active">
        <div class="step-counter">3</div>
        <div class="step-name">Third</div>
      </div>
      <div class="stepper-item">
        <div class="step-counter">4</div>
        <div class="step-name">Forth</div>
      </div>
      <div class="stepper-item">
        <div class="step-counter">5</div>
        <div class="step-name">Five</div>
      </div>
      <div class="stepper-item">
        <div class="step-counter">6</div>
        <div class="step-name">Six</div>
      </div>
      <div class="stepper-item">
        <div class="step-counter">7</div>
        <div class="step-name">Seven</div>
      </div>
    </div>
  </div>
  <% @user.challenges.each do |challenge| %>
    <%= render 'challenges/card', challenge: challenge %>
  <% end %>
  <script src="js/progress-bar.js"></script>
</div>
