<div class="custom-container">
  <div class="mb-3">
    <h3>Start Your Plastic-free Journey!</h3>
  </div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide d-flex justify-content-center">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="" class="d-block w-100 custom-carousel" alt="...">
        <i class="fa-regular fa-hand-point-right fs-5 mb-10" class="d-block w-100 custom-carousel"></i>
        <div class="carousel-caption d-none d-md-block">
          <h3>Step 1</h3>
          <h4>Take a quick online <strong>Assessment</strong> to measure your plastic footprint</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="" class="d-block w-100 custom-carousel" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Step 2</h3>
          <h4>Choose your <strong>Challenge</strong> to change your daily habit</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100 custom-carousel" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Step 3</h3>
          <h4><strong>Track</strong> and <strong>Reduce</strong> your plastic footprint to your Goal!</h4>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-info my-3" type="button">Sign up now</button>
  </div>
</div>
