<div class="challenge-card-small mb-3">
  <%= image_tag challenge.category%>
  <div class="row">
    <div class ="col-6 d-flex flex-column">
      <div class="challenge-card-small-infos" style="justify-content-between text-align: center">
        <div class="difficulty-card">
          <h2>Difficulty <%= challenge.difficulty %></h2>
        </div>
      </div>
    </div>
    <h3><%= challenge.name %></h3>
    <h5><%= challenge.score %> points</h5>
  </div>
</div>
