<div class="challenge-card-small">
  <div class="challenge-card-small-infos">
    <%= image_tag challenge.category%>
    <h2>Level <%= challenge.difficulty %></h2>
    <h3><%= challenge.name %></h3>
    <h5><%= challenge.score %> points</h5>
  </div>
</div>
