.btn-ghost {
  color: white;
  background-color: #ba97c4;
  padding: 8px 24px;
  border-radius: 17px;
  font-weight: lighter;
  font-size: 21px;
  opacity: 1.6;
  transition: opacity 0.3s ease;
  height: 140px;
  width: 250px;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: #a38aab;
}
