.challenge-card-small {
  overflow: hidden;
  height: 170px;
  background: #B0D6C5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.challenge-card-small img {
  height: 130px;
  width: 130px;
  margin-left: 20px;
}

.challenge-card-small h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.challenge-card-small p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.challenge-card-small .challenge-card-small-infos {
  padding: 20px;
  text-align: center;
}

.challenge-card-small .challenge-card-small-infos h3 {
  font-size: 20px;
}

.card-dashboard {
  height: 250px;
  background: #B0D6C5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.card-dashboard-score {
  height: 120px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
  p {
    margin: 0;
  }
  .score-text {

  }
  .score-number {

  }
}
