.custom-carousel {
  // height: 300px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.carousel-item {
  height: 500px;
  // background-image: ;
  h3, h4 {
    color: rgb(49, 41, 41);
  }

}
