// .dasbhboard_content{
//   display: flex;
// }

// .dasbhboard_content .challenges_cards {
//   flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
// }

.dashboard_container {
  display: grid;
  grid-column-gap: 48px;
  grid-row-gap: 12px;
  padding: 48px;
  /* gap: 48px;*/
  @media (max-width: 500px) {
    padding: 8px;
  }
  }

.dashboard_container .scoreboard { grid-area: 1 / 1 / 2 / 2;
 @media (max-width: 500px) {
  grid-area: 1 / 1 / 2 / 2;
} }
.dashboard_container .checker { grid-area: 1 / 2 / 2 / 3;
  @media (max-width: 500px) {
    grid-area: 2 / 1 / 3 / 2;
  } }
.dashboard_container .details { grid-area: 1 / 3 / 2 / 4;
  @media (max-width: 500px) {
    grid-area: 3 / 1 / 4 / 2;
  }}
.dashboard_container .calendar { grid-area: 2 / 1 / 3 / 4;
  @media (max-width: 500px) {
    grid-area: 4 / 1 / 5 / 2;
  } }

.dashboard_details {
  overflow: hidden;
  background: #B0D6C5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  border-radius: 15px;
  /* padding: 20px; */
  position: relative;
  text-align: center;
  max-height: 460px;
}

.dashboard_container label {
  display: inline-block;
  font-family: "Outfit", "Helvetica", "sans-serif";
}

.form-wrapper{
  input[type=checkbox]
  {
    transform: scale(1.5);
    margin: 10px;
  }
}
