.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  @media (max-width: 500px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent{
font-family: "Outfit", "Helvetica", "sans-serif";
}
