.test-intro {
  margin-top: 30px;
  margin-bottom: 30px;
}

.test-card-top {
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #B0D6C5;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 30px;
}

.test-card-top img {
  height: 130px;
  width: 130px;
  margin-left: 30px;
  margin-right: 30px;
}
.test-card-bottom {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 10px;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.1);
}

.test-card-bottom .answers-wrapper{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.test-card-bottom-answer {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex: 0 0 40%;
  padding: 16px;
}

.test-card .footer{
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
