// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/container";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/test";
@import "components/btn";
@import "components/score";
@import "components/turtle";
